<h3>Novo Cartão</h3>
<form>
  <div class="form-group">
    <label for="name">Numero do Cartão:</label>
    <input type="text" class="form-control" id="numero_cartao" name="numero_cartao">
    <label for="name">Nome:</label>
    <input type="text" class="form-control" id="nome_cartao" name="nome_cartao">
    <label for="name">Data de vencimento:</label>
    <input type="text" class="form-control" id="data_vencimento" name="data_vencimento">
    <label for="name">Código de verificacao:</label>
    <input type="text" class="form-control" id="codigo_verificacao" name="codigo_verificacao">
  </div>
  <!-- OUTROS CAMPOS DA API -->
  <button type="submit" class="btn btn-success">Salvar</button>
</form>